.main
  %ul.main__header
    %li.main__header--title
      日記
  .main__diaries
    - if @diary.present?
      = render partial: 'form', collection: @diary, as: "diary"
    - else
      .non-diary
        日記を投稿しよう
  .main__footer
    .main__footer
      = link_to "日記を書く", "diaries/new", class: "main__footer--post"
      