.main
  %ul.main__header
    %li.main__header--title
      日記
    %li.main__header--search
      = icon 'fas', 'search'
  .main__diaries
    .main__diaries__diary-box
      .diary
        .diary__date
          .diary__date--diary-year
            2020/8
          .diary__date--diary-day
            .text-date
              1
            .text-week
              (月)
          .diary__date--diary-time
            09:00
        .diary__text
          今日はいい天気ですね
    .main__diaries__diary-box
      .diary
        .diary__date
          .diary__date--diary-year
            2020/8
          .diary__date--diary-day
            .text-date
              2
            .text-week
              (水)
          .diary__date--diary-time
            10:00
        .diary__text
          今日はいい天気ですね
    .main__diaries__diary-box
      .diary
        .diary__date
          .diary__date--diary-year
            2020/8
          .diary__date--diary-day
            .text-date
              4
            .text-week
              (火)
          .diary__date--diary-time
            15:00
        .diary__text
          今日はいい天気ですね
    .main__diaries__diary-box
      .diary
        .diary__date
          .diary__date--diary-year
            2020/8
          .diary__date--diary-day
            .text-date
              5
            .text-week
              (木)
          .diary__date--diary-time
            21:00
        .diary__text
          今日はいい天気ですね
  .main__footer
    .main__footer
      = link_to "日記を書く", "diaries/new", class: "main__footer--post"
      = link_to "カレンダー", "#", class: "main__footer--calender"
