.post-main
  .post-main__post-header
    .post-main__post-header--post-date
      2020年8月1日(月)
    .post-main__post-header__image
      = icon 'fas', 'camera-retro'
  .post-main__post-area
    = text_area :diary, class: "post-main__post-area__text-box"